<!DOCTYPE html>
<html>
<head>
    <title>My second site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
    <ul class="nav nav-pills">
    <li><%= link_to 'Home', root_path %></li>
    <li class="active"><%= link_to 'About', pages_about_path %></li>
</ul>
<div class="main">
  <div class="container">
    <p>Thankyou for visiting my site.</p>
  </div>
</div>
</body>
</html>