<!DOCTYPE html>
<html>
<head>
    <title>My second site</title>
    </head>

<body>
    <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', pages_about_path %></li>
</ul>
<div class="main">
  <div class="container">
    <p>This is the about page.</p>
  </div>
</div>
</body>
</html>