<p>My name is Callum Wilyman. I made this website by learing from the complete ruby on
rails course on udemy. On this site you can write articles about anything and post them
onto the wall. Use the navigation bar ontop to view all the articles or create a new
one. Peace.</p>

